---
extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'
  - '*.yml.example'

rules:
  empty-lines:
    level: warning
  line-length:
    max: 255
  comments:
    ignore: cloud-init.yaml
  document-start:
    ignore: cloud-init.yaml
